
.form-control:focus {
  border-color: #e38722;
}

.colorstext {
  color: #e38722;
}
.coloricon i, .faq-details i {
  color: #e38722;
}
.colorsbg {
  background: #e38722;
}

.separator {
  background: #e38722;
}
.separator-left {
  background: #e38722;
}

.separator_wrap::after,
.separator_wrap::before {
  background-color: #e38722;
}
.separator_wrap-left::after {
  background-color: #e38722;
}
.separator2 {
  border: 2px solid #e38722;
}
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
  background-color: #e38722;
  border-color: #e38722;
}

.btn-primary.btnxs:hover {
  background: #e38722;
}

.btn-default:hover {
  color: #e38722;
}
.btn-primary {
  background-color: #e38722;
  border: 2px solid #e38722;
}

btn-primary:focus {
  background-color: #e38722;
}
.btn-primary:hover {
  border-color: #e38722;
  color: #e38722;
}

h1 span {
  color: #e38722;
}


.nav .btn-primary:hover {
  color: #e38722 !important;
}

.navbar-default .btn-default:hover {
  border: 1px solid #e38722;
}

.fixed-nav.navbar .navbar-nav > .active > a,
.fixed-nav.navbar .navbar-nav > .active > a:hover,
.fixed-nav.navbar .navbar-nav > .active > a:focus,
.fixed-nav.navbar .navbar-nav > li > a:hover,
.fixed-nav.navbar .navbar-nav > li > a:focus {
  color: #e38722;
}

.try-registration-form input {
  border-left: 3px solid #e38722;
}
.try-registration-form textarea {
  border-left: 3px solid #e38722;
}
.try-registration-form input:focus {
  border: 1px solid #e38722;
  border-left: 3px solid #e38722;
}

.team-separator {
  background: #e38722;
}

.testimonialslide .carousel-indicators .active {
  background: #e38722 !important;
  border-color: #e38722 !important;
}

.rating {
  color: #e38722;
}

.pricing-table {
  border: 2px solid #e38722;
}

.pricing-table.active {
  background-color: #e38722;
  border-color: #e38722;
}

.timeline .timeline-year {
  border: 3px solid #e38722;
  color: #e38722;

}
.timeline .timeline-year:hover {
  background: #e38722;
  -webkit-box-shadow: 0px 0px 0px 2px #e38722;
  box-shadow: 0px 0px 0px 2px #e38722;
}

.timeline .start {
  background: #e38722;
}

.timeline .timeline-info:hover:after {
  background: #e38722;
  border: 2px solid #e38722;
}

.subscribe-wrap.body-subscribe .subscribe-input {
  border-color: #e38722;
}

.newsletter-icon i {
  font-size: 225px;
  color: #e38722;
}

.tweet a:hover {
  color: #e38722;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e38722;
}

.faq-details i {
  z-index: 1 !important;
}

#fancy-inputs label.input span:before {
  background-color: #e38722;
}

#fancy-inputs input:focus + span span {
  color: #e38722;
}

#fancy-inputs label.textarea span:before {
  background-color: #e38722;
}

#fancy-inputs textarea:focus + span span {
  color: #e38722;
}

.address i {
  color: #e38722;
}

.footer-link a:hover {
  color: #e38722;
}

.social-link-img a span:hover {
  color: #e38722;
}

.social-link a span:hover {
  color: #e38722;
}

.footer-link-default a:hover {
  color: #e38722;
}
.form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e38722;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e38722;
}
/*# sourceMappingURL=style.css.map */